<table class="tablesorter table table-striped table-hover" id="mainListe">
    <colgroup>
        <col style="width: auto"/>
        <col style="width: auto"/>
        <col style="width: auto"/>
        <col style="width: auto"/>
        <col style="width: auto"/>
        <col style="width: auto"/>
        <col style="width: auto"/>
        <col style="width: auto"/>
        <col style="width: auto"/>
    <colgroup>
    <thead>
        <tr>
            <th class="header">Contrat</th>
            <th class="header">Producteur</th>
            <th class="header">Début</th>
            <th class="header">Fin</th>
            <th class="header">Distributions</th>
            <th class="header">Pauses</th>
            <th class="header">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#list}}
        <tr>
            <td>{{name}}</td>
            <td>{{producteur}}</td>
            <td>{{debut}}</td>
            <td>{{fin}}</td>
            <td>{{nb_distributions}}</td>
            <td>{{nb_pauses}}</td>
            <td>
                <a href="raptor.php?edit=contrat_type&id={{id}}" class="modify" title="{{{tModify}}}"><span class="glyphicon glyphicon-cog"></span></a>
                <a href="raptor.php?copy=contrat_type&id={{id}}" class="duplic" title="{{{tDuplic}}}"><span class="glyphicon glyphicon-share-alt"></span></a>
                <a href="raptor.php?dele=contrat_type&id={{id}}" class="delete" title="{{{tDelete}}}"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
        {{/list}}
    </tbody>
</table>
