<table class="tablesorter table table-striped table-hover" id="mainListe">
    <colgroup>
        <col style="width: auto"/>
        <col style="width: auto"/>
        <col style="width: auto"/>
        <col style="width: auto"/>
        <col style="width: auto"/>
        <col style="width: auto"/>
        <col style="width: auto"/>
        <col style="width: auto"/>
        <col style="width: auto"/>
    <colgroup>
    <thead>
        <tr>
            <th class="header">Produit</th>
            <th class="header">Contrat</th>
            <th class="header">Prix Unitaire</th>
            <th class="header">Existe</th>
            <th class="header">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#list}}
        <tr>
            <td>{{contrat}}</td>
            <td>{{name}}</td>
            <td>{{prix_unitaire}}</td>
            <td>{{exist}}</td>
            <td>
                <a href="raptor.php?edit=produits_type&id={{id}}" class="modify" title="{{{tModify}}}"><span class="glyphicon glyphicon-cog"></span></a>
                <a href="raptor.php?copy=produits_type&id={{id}}" class="duplic" title="{{{tDuplic}}}"><span class="glyphicon glyphicon-share-alt"></span></a>
                <a href="raptor.php?dele=produits_type&id={{id}}" class="delete" title="{{{tDelete}}}"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
        {{/list}}
    </tbody>
</table>
