<form method="POST" action="{{action}}" role="form">
    <div class="form-group">
        <legend>{{coord}}</legend>
        <input id="name"         {{disabled}} class="textfield" type="text" value="{{name}}" placeholder="{{name}}"/>
        <input id="surname"      {{disabled}} class="textfield" type="text" value="{{surname}}" placeholder="{{surname}}"/>
        <input id="email"       {{disabled}} class="emailValue textfield before"  type="text" value="{{email}}" placeholder="{{emai}}"/>
        <input id="address"      {{disabled}} class="textfield clear" type="text" placeholder="{{address}}" value="{{address}}"/>
        <input id="zipcode"      {{disabled}} class="textfield"       type="text" placeholder="{{zipcode}}" value="{{zipcode}}"/>
        <input id="city"         {{disabled}} class="textfield"       type="text" placeholder="{{city}}" value="{{city}}"/>
        <input id="phone"        {{disabled}} class="textfield"       type="text" placeholder="{{phone}}" value="{{phone}}" />
    </div>
    <div class="clear form-group">
        <legend>{{infos}}</legend>
        <textarea id="infos" rows="6" cols="40"></textarea>
    </div>
    <button class="btn btn-default" type="submit" id="createProductor" title="{{submitTitle}}" >{{submit}}</button>
</form>