<form id="new-contrat" method="post" action="{{action}}" role="form"s>
    <fieldset class="general form-group">
        <legend>{{legend}}</legend>
        <input id="name" class="textfield" type="text" value="{{labelProduit}}" />
        <select id="contrat_id" class="">
            <option value="-1">{{labelContrat}}</option>
            {{#contrats}}<option value="{{id}}">{{name}}</option>{{/contrats}}
        </select>
        <label for="prix_unitaire" class="">{{labelPrix}}</label>
        <input class="textfield" type="text" id="prix_unitaire" value="" placeholder="{{valuePrix}}"/>
    </fieldset>
    <button class="btn btn-default" type="submit" id="createProduct" title="{{submitTitle}}" >{{submit}}</button>
</form>