<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>{{appTitle}} : {{pageTitle}}</title>
    <link type="text/css"     rel="apple-touch-icon" href="themes/green/img/apple-touch-icon.png" />
    <link type='image/x-icon' rel='icon'             href='favicon.ico'/>
    <link type="text/css" rel="stylesheet" href="themes/green/css/vendor/normalize.css" />
    <link type="text/css" rel="stylesheet" href="themes/green/css/vendor/main.css" />
    {{^debug}}
    <link type="text/css" rel="stylesheet" href="themes/green/css/default.css" />
    {{/debug}}
    <link type="text/css" rel="stylesheet" href="themes/green/css/vendor/ui-lightness/jquery-ui-1.8.21.custom.css" />
    <link type="text/css" rel="stylesheet" href="themes/green/css/vendor/ui-lightness/uidatepicker.css" />
    <link type="text/css" rel="stylesheet" href="themes/green/css/vendor/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="themes/green/css/vendor/bootstrap-theme.css" />
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
